@model MagicVilla_Utility.DTO.Villa.IVillaBaseDTO

<div>
    <form method="post" asp-action="@(ViewData["Action"] as string)" asp-controller="Villa">
        <div class="border p-3 mt-4">
            <div class="row pt-2">
                <h2 class="text-primary">@ViewData["Title"]</h2>
                <hr />
            </div>
            @if (ViewData["Id"] != null)
            {
                <input type="hidden" name="id" value="@ViewData["Id"]?.ToString()" />
            }
            <div class="mb-3 row p-1">
                <label asp-for="Name" class="p-0"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Details" class="p-0"></label>
                <textarea asp-for="Details" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Rate" class="p-0"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Sqft" class="p-0"></label>
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Occupancy" class="p-0"></label>
                <input asp-for="Occupancy" class="form-control" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ImageUrl" class="p-0"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Amenity" class="p-0"></label>
                <input asp-for="Amenity" class="form-control" />
                <span asp-validation-for="Amenity" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">@(ViewData["Action"] as string)</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Villa" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
